<ion-tabs id="background" class="ion-tabs-background" [style.backgroundImage]="backgroundImage" #ionTabs>
  <ion-header translucent="true">
    <ion-toolbar>
      <ion-title>
        <ion-label>
          <app-logo [width]="'200px'"></app-logo>
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar [translucent]="true" slot="bottom">
    <ion-tab-button tab="portfolio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="treasury">
      <ion-icon [src]="'../../assets/svg/treasure-chest-solid.svg'"></ion-icon>
      <ion-label style="margin-bottom: -4px">Perks</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="settings">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>{{ auth.user.displayname }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>