<div>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/settings" text="Back"></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Greeting Name</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="modified" [disabled]="saving" (click)="saveDisplayName()">Save</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    <ion-item class="ion-text-center" lines="none" id="display-name-input">
      <ion-input (ionChange)="modified = true" (ionFocus)="showClear = true" (ionBlur)="showClear = false"
        [(ngModel)]="auth.user.displayname" #displayNameInput [clearInput]="showClear" enterkeyhint="done">
      </ion-input>
      <ion-spinner [hidden]="!saving" name="crescent"></ion-spinner>
    </ion-item>
  </ion-card-content>
</div>