ion-nav {
  position: initial;
}

#ion-nav-card {
  position: relative;
  min-height: 35vh;
  max-height: 35vh;
  transition: max-height 0.3s ease-in-out;
}

ion-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tap-to-edit-btn {
  position: absolute;
  top: 0;
  width: 10rem;
  border-radius: 50%;
  height: 10rem;
  display: flex;
  align-items: flex-end;
}

ion-img {
  position: relative;
}

// ion-button {
//   & ion-text {
//     position: absolute;
//     bottom: 1em;
//   }
// }
